<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script src="https://kit.fontawesome.com/994cf64bcf.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script defer src="/static/JS/Script.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <header id="user-header" class="d-flex align-items-center justify-content-evenly border rounded border-3 border-dark ">
        <img src="static/Assets/dunDashLogo.png" alt="Logo">
        <h1 class="text-center">Welcome {{user.first_name}}</h1>
        <div class="d-flex align-items-center">
            <i style="color:rgb(255, 255, 255)" class="fa-2xl fa-solid fa-gear px-2"></i>
            <h3><a href="/user/edit">Account</a></h3>
        </div>
        <div class="d-flex align-items-center">
            <i style="color:rgb(255, 255, 255)" class="fa-2xl fa-solid fa-dungeon px-2"></i>
            <h3><a href="/logout">Logout</a></h3>
        </div>
    </header>
    <div id="card-container" class="container d-flex justify-content-around mt-5">
        <div class="mt-auto card mx-2 col-3 p-3">
            <img src="{{ url_for('static', filename='Assets/logoFinalX.png') }}" alt="Logo">
            <h5 class="text-center"><a class="text-light" href="#">Create Charecter or NPC</a></h5>
        </div>
        <div class="mt-auto card mx-2 col-3 p-3">
            <img src="{{ url_for('static', filename='Assets/logoFinalX.png') }}" alt="Logo">
            <h5 class="text-center"><a onclick="newDash(this)" class="text-light" href="#">Start a New Dashboard</a></h5>
        </div>
        <div class="mt-auto card mx-2 col-3 p-3">
            <img src="{{ url_for('static', filename='Assets/logoFinalX.png') }}" alt="Logo">
            <h5 class="text-center"><a class="text-light" href="#">Your Dashboards</a></h5>
        </div>
    </div>
</body>
</html>